<!DOCTYPE html>
<html>
    <head>
        <title>关于</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/weiwin/css/weui.min.css" />
    </head>
    <body>
        <div style="font-size: 14px; line-height: 28px; color: #04BE02; font-family: Helvetica; margin-top: 20px; text-indent: 2em;">
            <p>我们是为用户提供交通信息，终点提供航班和高铁信息，旅客可以根据自己需求定制自己需要的交通信息。而且可以根据自己的需要，定制个性化的提醒。</p>
            <p>我们是为用户提供交通信息，终点提供航班和高铁信息，旅客可以根据自己需求定制自己需要的交通信息。而且可以根据自己的需要，定制个性化的提醒。</p>
            <p>我们是为用户提供交通信息，终点提供航班和高铁信息，旅客可以根据自己需求定制自己需要的交通信息。而且可以根据自己的需要，定制个性化的提醒。</p>
             <a style="color:red;" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIxNTY5MjAwOQ==&scene=110#wechat_redirect">关注。</a>
        </div>
       
    </body>
</html>
