<!DOCTYPE html>
<html>
    <head>
        <title>出行须知</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/weiwin/css/weui.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/weiwin/css/jquery-weui.css" />
    </head>
    <body>
        <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_small_appmsg">
          <div class="weui_cells weui_cells_access">
             <a class="weui_cell" href="{:url('moreinfo/noticephone')}#mp.weixin.qq.com">
              <div class="weui_cell_hd"><img src="__PUBLIC__/weiwin/images/phone.png" alt="logo" style="width:20px;margin-right:15px;display:block"></div>
              <div class="weui_cell_bd weui_cell_primary">
                <p>机场电话</p>
              </div>
              <span class="weui_cell_ft"></span>
            </a>
             <a class="weui_cell" href="http://mp.weixin.qq.com/s?__biz=MzIxNTY5MjAwOQ==&mid=100000008&idx=1&sn=5319d64f8350f23b80f2e4e4996608d6&chksm=1795268e20e2af98f88faca67edb8057305e32854db7125762731b545f5c309cda9e079694e2#rd ">
              <div class="weui_cell_hd"><img src="__PUBLIC__/weiwin/images/notice05.png" alt="logo" style="width:20px;margin-right:15px;display:block"></div>
              <div class="weui_cell_bd weui_cell_primary">
                <p>乘火车常识及注意事项</p>
              </div>
              <span class="weui_cell_ft"></span>
            </a>
            <a class="weui_cell" href="http://mp.weixin.qq.com/s?__biz=MzIxNTY5MjAwOQ==&mid=100000007&idx=1&sn=5806a88e08608c34c21afb74bb755687&chksm=1795268120e2af9755cef5a4bb3c63ca5924c1f5735bed312664ee46b2617c4b906033605da4#rd ">
              <div class="weui_cell_hd"><img src="__PUBLIC__/weiwin/images/notice02.png" alt="logo" style="width:20px;margin-right:15px;display:block"></div>
              <div class="weui_cell_bd weui_cell_primary">
                <p>边防检查须知</p>
              </div>
              <span class="weui_cell_ft"></span>
            </a>
             <a class="weui_cell" href="http://mp.weixin.qq.com/s?__biz=MzIxNTY5MjAwOQ==&mid=100000006&idx=1&sn=e1604694ba3976fffdf0257b94fa22d0&chksm=1795268020e2af9628ee8994d451ad6b97d686474bff87f9f9057aaff150e2fa2b3187350a09#rd">
              <div class="weui_cell_hd"><img src="__PUBLIC__/weiwin/images/notice03.png" alt="logo" style="width:20px;margin-right:15px;display:block"></div>
              <div class="weui_cell_bd weui_cell_primary">
                <p>海关检查须知</p>
              </div>
              <span class="weui_cell_ft"></span>
            </a>
              <a class="weui_cell" href="http://mp.weixin.qq.com/s?__biz=MzIxNTY5MjAwOQ==&mid=100000005&idx=1&sn=bda86d3813a4baa4e69b6d6689a8a706&chksm=1795268320e2af957c1744c03fa75af3b4d013d926db8191681ea3c4460833e20338030bbd6f#rd">
              <div class="weui_cell_hd"><img src="__PUBLIC__/weiwin/images/notice04.png" alt="logo" style="width:20px;margin-right:15px;display:block"></div>
              <div class="weui_cell_bd weui_cell_primary">
                <p>行李运输须知</p>
              </div>
              <span class="weui_cell_ft"></span>
            </a>
             <a class="weui_cell" href="http://mp.weixin.qq.com/s?__biz=MzIxNTY5MjAwOQ==&mid=100000004&idx=1&sn=5db89ee7c9d09e87336d204fb175a799&chksm=1795268220e2af94631347ccb2ea8ac36b7c27eb8aa6d78543058a815f774bcd4260f41187d4#rd">
              <div class="weui_cell_hd"><img src="__PUBLIC__/weiwin/images/notice05.png" alt="logo" style="width:20px;margin-right:15px;display:block"></div>
              <div class="weui_cell_bd weui_cell_primary">
                <p>机票相关注意事项</p>
              </div>
              <span class="weui_cell_ft"></span>
            </a>
            <a class="weui_cell" href="http://mp.weixin.qq.com/s?__biz=MzIxNTY5MjAwOQ==&mid=100000003&idx=1&sn=0492e9ade701593ffa1f8b51b455d939&chksm=1795268520e2af93c1619bbc5efa1f38a0b9bb003b3691bd5f4fe5d372ba052454b3bb232c2c#rd">
              <div class="weui_cell_hd"><img src="__PUBLIC__/weiwin/images/notice01.png" alt="logo" style="width:20px;margin-right:15px;display:block"></div>
              <div class="weui_cell_bd weui_cell_primary">
                <p>安全检查须知</p>
              </div>
              <span class="weui_cell_ft"></span>
            </a>
            <!--  <a style="color:red;" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIxNTY5MjAwOQ%3D%3D&scene=110#wechat_redirect" target="__blank">关注。</a>
            
                        <a style="color:red;" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIxNTY5MjAwOQ==&scene=124#wechat_redirect" target="__blank">订阅测试</a> -->

             </div>
        </div>
      </div>
    </body>
</html>
