<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微领地.功能管理列表</title>
<link href="__ADMIN__/css/style.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__/css/select.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__/css/fenyue.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="place">
    <span><img src="__ADMIN__/images/address.png" style="height:20px;vertical-align:middle;"/> 位置: </span><ul class="placeul">
    <li><a href="#">系统管理</a></li>
    <li><a href="#">功能列表</a></li></ul>
    <!-- <span style="float:right; margin:0 20px 0 0;"><a href="{:url('Admin/function_list')}">刷新</a></span> --></div>
    <div class="formbody">
    <div id="usual1" class="usual"> 
    <div class="itab">
    <ul> 
    <li><a href="#tab1" class="selected">基本信息</a></li> 
    </ul>
    </div>
    <div id="tab2" class="tabson">

    <table class="tablelist">
        <thead>
        <tr>
            <th width="35px;"><input name="" type="checkbox" value="" checked="checked"/></th>
            <th>主菜单<i class="sort"><img src="__ADMIN__/images/px.gif" /></i></th>
            <th>主菜单ID</th>
            <th>二级菜单</th> 
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        {volist name="data" id="vo"}
        <tr>
            <td>{$vo.numb}</td>
            <td>{$vo.c_mname}</td>
            <td>{$vo.c_id}</td>
            <td>
                {volist name="vo['child']" id="v"}{$v['c_mname']}&nbsp;<b>| </b>{/volist}
            </td>
            <td width="120px;"><a href="{:url('Admin/function_details',['Id'=>$vo.c_id])}" class="tablelink">查看详情</a></td>
        </tr> 
        {/volist}
        </tbody>
    </table>
    </div>  
    </div> 

    </div>
</body>
</html>
