<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Static</title>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/public.js"></script> 

</head>
<style type="text/css">
    *{padding:0;margin:0;}
    html,body{width: 100%;height: 100%;overflow: hidden;}
    img{width: 100%;height: 100%;}
</style>
<body >


<img src="__PUBLIC__/images/cdshh-dining-chinese-restaurant-table-1680-945.jpg" style="width:100%;height:100%" />
<script type="text/javascript">

/*        var main = window.parent.document.getElementById('main');
        var tmp = eval(parent.url);
        //获取地址栏i值
        var str = location.href;
        var i = str.substr(str.length-1,1);
        var url=[];
     　　for ( var j in tmp ){
             　　 var str = j + "=" + tmp[ j ]// i 就代表 data 里面的 user pass 等等 而data[ i ] 就代表 userName    12121 就是 i 所对应的值；
              url.push( str );
    　　}
        var jump = str.substr(2,url[i].length-2);*/
        

        setTimeout(function(){
            var tmp = parent.url;
            var url=[];
            for(var key in tmp){
               //key是属性,object[key]是值
               url.push(key);//往数组中放属性
            }
            len = url.length;
            if (len ==1|| len<1) { return};
            window.jump();
        },30000);
       /* console.log(url);
        setTimeout(function(){
            window.parent.document.getElementById("main").innerHTML = '<iframe src="/Demo/public/index.php/home/trains/index.html" id="frame" name="view_frame" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"  width="100%;" height="100%"  ></iframe>';
        },10000);
*/
    /*网络判断*/
    /*var EventUtil = { 
    addHandler: function (element, type, handler) { 
    if (element.addEventListener) { 
        element.addEventListener(type, handler, false); 
    } else if (element.attachEvent) { 
        element.attachEvent("on" + type, handler); 
    } else { 
        element["on" + type] = handler; 
    } 
    } 
    }; 
    EventUtil.addHandler(window, "online", function () { 
        alert("Online"); 
    }); 
    EventUtil.addHandler(window, "offline", function () { 
        alert("Offline"); 
    });*/
</script>
</html>