<!DOCTYPE html>
<html>
    <head>
        <title>定制失败</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/weiwin/css/weui.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/weiwin/css/jquery-weui.css" />
    </head>
    <body>
      <div class="weui_msg">
      <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
      <div class="weui_text_area">
        <h2 class="weui_msg_title">定制失败，请重试！</h2>
      </div>
      <div class="weui_opr_area">
        <p class="weui_btn_area">
          <a href="javascript:history.go(-1);" class="weui_btn weui_btn_warn">重试</a>
        </p>
      </div>
    </div>
    </body>
</html>
