<div class="sy_almanac">
    <div class="sy_almanac_calendar">
        <div class="sy_almanc_date_panel">
            <div class="sy_almanac_date_bar">
                2017年10月
            </div>
            <div class="sy_almanac_date_day">19</div>
        </div>
        <div class="sy_almanac_dates">
            <p>星期四</p>
            <p>农历八月十三</p>
            <p>丁酉年</p>
        </div>
    </div>
    <div class="sy_almanac_action">
        <div class="sy_almanac_half">
            <h3>宜</h3>
            <ul>
                <li>嫁娶</li>
                <li>嫁娶</li>
                <li>嫁娶</li>
                <li>嫁娶</li>
                <li>嫁娶</li>
            </ul>
        </div>
        <div class="sy_almanac_half">
           <h3>忌</h3>
           <ul>
                <li>嫁娶</li>
                <li>嫁娶</li>
                <li>嫁娶</li>
                <li>嫁娶</li>
                <li>嫁娶</li>
            </ul>
        </div>
    </div>
</div>