<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>功能新增</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__ADMIN__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__ADMIN__/js/laydate.js"></script>

</head>
<body>
    <div class="place">
    <span><img src="__ADMIN__/images/address.png" style="height:20px;vertical-align:middle;"/> 位置: </span>
    <ul class="placeul">
    <li><a href="#">权限管理</a></li>
    <li><a href="#">预约新增</a></li>
    <span style="cursor:pointer;float:right;margin:auto 25px;"><a id="back" >返回</a></span>
    </ul>
    </div>
<div class="formbody">
<div class="formtitle"><span>基本信息</span></div>
    <form method="post" action="{:url('order_add')}" name="theForm" >
    <table>
    <ul class="forminfo">

    <li><label>姓名</label><input type="text" class="dfinput" name="c_name" value=""/></li>
    <li><label>性别</label>
     <select name="c_sex" class="dfinput" style="opacity:1">
           {volist name="sexinfo" id="v"}
             <option value="{$v['c_sex']}" >{$v['name']}</option>
           {/volist}  
        </select>
    </li>
    <li><label>电话</label><input type="text" class="dfinput" name="c_phone" value=""/></li>
    <li><label>入住时间</label><input type="text" class="dfinput" name="c_agreetime" value="" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" /></li>
    <li><label>离店时间</label><input type="text" class="dfinput" name="c_endtime" value="" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/></li>

    <li><label>房间类型</label><input type="text" class="dfinput" name="c_roomtype" value=""/></li>
    <li><label>房间数量</label><input type="text" class="dfinput" name="c_num" value=""/></li>
    <li><label>&nbsp;</label>

    <input name="" type="submit" class="btn" value="确认保存"/>
    <input name="" type="reset" class="btn" value="重置"/>
    </li>
    </ul>
  </table>
  </form> 
</div>
<script type="text/javascript" src="__ADMIN__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $("#back").click(function(){
            history.back(-1);
    });
</script>
</body>
</html>
